@use "./mixins/colors" as colors;
@use "./mixins/mixin" as mixin;
@use "./variables" as *;
body {
  overflow-x: hidden;
  font-family: "Montserrat", "Roboto Slab", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: colors.$black;
  &:hover {
    color: colors.$black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background: colors.$primary;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
.textBlack{
  color: colors.$black;
}
.container-fluid {
  padding: 0 12rem;
  @include mixin.pc1300px{
    padding: 0 7rem;
  }
  @include mixin.pc1000px{
    padding: 0 4rem;
  }
  @include mixin.phone500px{
    padding: 0 2rem;
  }
}
.highlightedHeading {
  font-weight: 600;
  position: relative;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 35px;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: -1;
    width: 300px;
    height: 20px;
    background: colors.$accent;
@include mixin.phone500px{
  width: 150px;
}
    @media (min-width: 992px) {
      bottom: -4px;
      width: 360px;
    }
  }

  @media (min-width: 992px) {
    font-size: 30px;
    margin-bottom: 42px;
  }
}

.highlightedSubheading {
  color: colors.$darkGrey;
  font-size: 20px;
  position: relative;
  padding-left: 28px;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: -1;
    left: 0;
    z-index: -1;
    width: 62px;
    height: 20px;
    background: colors.$accent;
    @media (min-width: 992px) {
      top: 2px;
    }
  }

  & + .details {
    margin-left: 28px;
    @include mixin.phone500px{
      margin-left: 1rem;
    }
  }
  & + ul.details {
    margin-left: 10px;
    @include mixin.phone500px{
      margin-left: 0;
    }
  }
}
.details {
  font-size: 20px;
    line-height: 28px;
  font-weight: 300;
  @include mixin.phone700px{
    font-size: 1rem;
  }
  @include mixin.phone500px{
    font-size: .7rem;
    line-height: 1rem;
  }
}





