@use "./mixins/colors" as colors;
@use "./mixins/mixin" as mixin;
@use "./variables" as *;
body {
  overflow-x: hidden;
  font-family: "Montserrat", "Roboto Slab", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: colors.$black;
  &:hover {
    color: colors.$black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background: colors.$primary;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
.textBlack{
  color: colors.$black;
}
.container-fluid {
  max-width: 1200px;
}







