@use "./variables" as *;
@use "./mixins" as *;
@use "sass:color";
.homepage .container-fluid {
  max-width: none;
}
.fontStyleItalic {
  font-style: italic;
}
.fontStyleBold {
  font-weight: bold;
}
.fontColorAccent {
  color: $accent;
}
.bgColorPageYellow {
  background-color: $accent;
}
.bgColorPageDarkGray {
  background-color: $darkGrey;
}
.bgImageHeader {
  background-image: url("/img/bg/header.jpg");
  background-size: cover;
  background-position: 15%;
  &__logo-mobile {
    display: none;
    position: absolute;
    bottom: 12%;
    left: 10%;
    width: 30vw;
    height: auto;
  }
}
@media (max-width: 1030px) {
  .bgImageHeader {
    background-position: 0%;
    background-image: url("/img/bg/laptop-brackets.jpeg");
    &__logo-mobile {
      display: flex;
    }
  }
}
@media (max-width: 730px) {
  .bgImageHeader {
    &__logo-mobile {
      bottom: 10%;
      left: 10%;
      width: 50vw;
    }
  }
}
.bgImageLead {
  height: 100vh;
  background-image: url("/img/bg/these-people.jpg");
  background-size: cover;
  // padding-bottom: 56.25%; // 1080 / 1920
}
.bgImageTeam {
  background-image: url("/img/bg/our-team.jpg");
  background-size: cover;
  // padding-bottom: 65%;
  background-position: 18% 0%;
  //padding-bottom: 70.83%; // 1360 / 1920
}
@media (max-width: 1000px) {
  .bgImageTeam {
    background-image: url("/img/bg/our-team.jpg");
    background-size: cover;
    background-position: 33% 0%;
    //padding-bottom: 70.83%; // 1360 / 1920
  }
}
@media (max-width: 800px) {
  .bgImageTeam {
    background-position: 33% 14%;
    background-image: url("/img/bg/our-team-mobile.jpg");
    background-size: cover;
    //padding-bottom: 70.83%; // 1360 / 1920
  }
}
.bgImageLogo {
  background-image: url("/img/logo/logo-radbrackets.svg");
  background-size: cover;
  padding-bottom: 29.25%; // 86 / 294
}
.bgImageLogoLight {
  background-image: url("/img/logo/logo-radbrackets-light.svg");
  background-size: cover;
  padding-bottom: 29.27%; // 260 / 888
}
.brackets {
  text-align: center;
  .bracket1 {
    width: 23%;
    padding-left: 0%;
    padding-right: 10%;
    display: inline-block;
    .bracketBg {
      background-image: url("/img/logo/bracket-1.svg");
      background-size: cover;
      padding-bottom: 260%;
    }
  }
  .bracket2 {
    width: 23%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    .bracketBg {
      background-image: url("/img/logo/bracket-2.svg");
      background-size: cover;
      padding-bottom: 260%;
    }
  }
  .bracket3 {
    width: 23%;
    padding-left: 10%;
    padding-right: 0%;
    display: inline-block;
    .bracketBg {
      background-image: url("/img/logo/bracket-3.svg");
      background-size: cover;
      padding-bottom: 260%;
    }
  }
}
.iconLinkedin {
  background-image: url("/img/icons/linkedin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  // padding-bottom: 27.63%; // 76 / 275
}
.iconTwitter {
  background-image: url("/img/icons/twitter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  width: 100%;
  // padding-bottom: 27.63%; // 76 / 275
}
.iconMail {
  background-image: url("/img/icons/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  width: 100%;
  // padding-bottom: 27.63%; // 76 / 275
}
.iconLinkedinLight {
  background-image: url("/img/icons/linkedin-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 95.7%;
  //padding-bottom: 42.10%; // 40 / 95
}
.iconTwitterLight {
  background-image: url("/img/icons/twitter-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 95.7%;
  // padding-bottom: 42.10%; // 40 / 95
}

.sectionHeader {
  position: relative;
  overflow: hidden;
  .hamburger-button {
    display: none !important;
    position: absolute;
    border: 1px solid #ecc100;
    top: 5%;
    right: 5%;
    width: 80px;
    height: 80px;
    background-color: #ecc100;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 2rem;
      color: white;
    }
  }
  .topMenu {
    position: absolute;
    right: 0;
    text-align: right;
    right: 5%;
    top: 10%;
    width: 100%;
    font-size: 1.2rem;
    // font-size: calc(1.5vw);
    text-transform: uppercase;
    a {
      padding: 0.5em;
      color: $white;
      text-decoration: none;
      transition: color 0.5s;
      &:hover {
        color: #ecc100;
        // text-decoration: underline;
      }
    }
  }
  .rightMenu {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 100%;
    ul {
      list-style-type: none;
      text-align: right;
      font-size: 2rem;
      // font-size: calc(2.7vw);
      text-transform: uppercase;
      color: $white;
    }
  }
}
@media (max-width: 992px) {
  .sectionHeader {
    .topMenu {
      font-size: 1rem;
      display: none;
    }
    .hamburger-button {
      display: flex !important;
    }
  }
  // font-size: calc(1.1vw);
}
@media (max-width: 730px) {
  .sectionHeader {
    .rightMenu {
      display: none;
    }
  }
}
.sectionLead {
  position: relative;
  overflow: hidden;
  .logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 15%;
  }
  ul.lead {
    position: absolute;
    right: 0;
    text-align: right;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 4%;
    font-size: calc(4vw);
    font-weight: bold;
    list-style-type: none;
    text-align: right;
    text-transform: uppercase;
    li {
      color: $black;
    }
    li.huge {
      margin-top: 3%;
      padding-right: 1%;
      font-size: calc(8vw);
      font-weight: bold;
      color: $white;
    }
  }
  .triangle {
    position: absolute;
    clip-path: polygon(44% 0, 100% 0, 100% 100%, 86% 100%);
    display: block;
    height: 100%;
    width: 100%;
    // -webkit-transform: rotate(53deg);
    // -moz-transform: rotate(53deg);
    // transform: rotate(53deg);
    // top: -10%;
    // right: -46%;
    top: 0;
    right: 0;
    background: $accent;
  }
}
@media (max-width: 1000px) {
  .sectionLead {
    ul.lead {
      font-size: 2rem;
      margin: 0;
      top: 5%;
      right: 5%;
    }
    .logo {
      width: 30%;
    }
    .triangle {
      clip-path: polygon(-30% 0%, 100% 0, 100% 100%, 100% 50%);
    }
  }
}
@media (max-width: 700px) {
  .sectionLead {
    ul.lead {
      top: 12%;
    }
  }
}
@media (max-width: 500px) {
  .sectionLead {
    ul.lead {
      font-size: 1.5rem;
    }
  }
}
.sectionTraits {
  position: relative;
  overflow: hidden;
  padding: 1%;
  .sectionFont {
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    font-size: 3rem;
    // font-size: calc(2.6vw);
  }
  .subsectionFont {
    // font-size: calc(2.3vw);
    font-size: 2.7rem;
  }
  .sectionTitle {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }
  .textFont {
    // font-size: calc(1.2vw);
    font-size: 1.4rem;
    font-weight: 500;
  }
  .customSoftware {
    ul {
      padding-top: 2em;
      padding-bottom: 0em;
      list-style-type: none;
      text-align: right;
      padding-left: 0;
      margin-left: 0;
      li {
        padding-bottom: 0.5em;
      }
    }
    p {
      text-align: right;
    }
  }
  .pursuitOfKnowledge {
    text-align: center;
    padding-bottom: 10%;
    .subsectionTitle {
      padding-top: 1em;
      padding-bottom: 2em;
    }
    .lessWide {
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .feedback {
    .subsectionTitle {
      padding-top: 1em;
      padding-bottom: 3em;
    }
  }
}

@media (max-width: 500px) {
  .sectionTraits {
    .subsectionFont {
      // font-size: calc(2.3vw);
      font-size: 1.7rem;
    }
  }
}
.sectionTeam {
  min-height: 120vh;
  position: relative;
  overflow: hidden;
  .memberNameFont {
    font-weight: 800;
    text-transform: uppercase;
    color: $white;
    font-size: 1.4rem;
    // font-size: calc(1.7vw);
  }
  .memberNameFontBlack {
    color: $black;
  }
  .membersLabel {
    font-weight: bold;
    font-size: 3.5rem;
    // font-size: calc(2.6vw);
    transform: rotate(90deg);
  }
  .textFont {
    font-weight: bold;
    color: $white;
    font-size: 1.2rem;
    // font-size: calc(1.3vw);
  }
  .teamHeader {
    width: 100%;
    height: 100%;
    position: absolute;
    .member1 {
      position: absolute;
      top: 7%;
      left: 15%;
    }
    .member2 {
      position: absolute;
      top: 2%;
      left: 53%;
    }
    .membersLabel {
      position: absolute;
      top: 59%;
      right: -3%;
    }
  }
  .teamInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    .social {
      .icon {
        width: 1.3em;
        display: inline-block;
        overflow: visible;
      }
    }
    .member1 {
      width: 600px;
      left: 5%;
      bottom: 27%;
      position: absolute;
      display: flex;
      flex-direction: column;
      // .social {
      //   padding-left: 10%;
      // }
      // p {
      //   padding-left: 10%;
      // }
    }
    .member2 {
      width: 600px;
      display: flex;
      flex-direction: column;
      bottom: 55%;
      position: absolute;
      right: 5%;
      .social {
        text-align: right;
        // padding-right: 20%;
      }
      p {
        // padding-right: 20%;
        // padding-left: 20%;
        text-align: right;
      }
    }
  }
  .goodFriends {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: $white;
    font-size: 3rem;
    // font-size: calc(4vw);
  }
  .triangle {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    left: -58%;
    background: rgb(22, 22, 22);
  }
}
@media (max-width: 1000px) {
  .sectionTeam {
    .goodFriends {
      font-size: 2.5rem;
    }
    .membersLabel {
      font-size: 2.5rem;
    }
    .textFont {
      font-size: 1rem;
    }
    .teamHeader {
      .membersLabel {
        right: -5%;
      }
    }
    .teamInfo {
      .member1 {
        width: 400px;
      }
      .member2 {
        width: 400px;
      }
    }
  }
}
.sectionAbout {
  position: relative;
  overflow: hidden;
  .textFont {
    font-weight: 500;
    color: $white;
    font-size: calc(1.5vw);
    span {
      color: $accent;
    }
  }
  .aboutUsHeader {
    @include rotatedHeader(30%);
    left: 2%;
    top: 38%;
    width: auto;
  }
  .aboutUsText {
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left: 22%;
    padding-right: 10%;
  }
}

.sectionTestimonials {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      0deg,
      $darkGrey,
      color.adjust($darkGrey, $lightness: 3%) 80%
    )
    no-repeat;
  padding-bottom: 3em;
  .sectionTitle {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .sectionFont {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    font-size: calc(2.6vw);
  }
  .textFont {
    font-size: calc(1.5vw);
    color: $white;
    margin-top: 1em;
  }
  .carousel {
    padding-left: 5%;
    padding-right: 10%;
  }
  .carousel-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    // @media (min-width: 576px) {
    //   height: 180px;
    // }
    // @media (min-width: 768px) {
    //   height: 320px;
    // }
    @media (min-width: 1400px) {
      min-height: 530px;
    }
  }
  .carousel-control-prev {
    left: -9%;
  }
  .carousel-control-next {
    right: -4%;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: calc(3vw);
    height: calc(3vw);
  }
  .testimonialsHeader {
    @include rotatedHeader(55%);
    left: 0%;
    top: 55%;
    width: auto;
  }
  .quotationMark {
    font-size: calc(4vw);
    color: $white;
  }
}
.sectionContact {
  position: relative;
  overflow: hidden;
  .logo {
    padding-top: 2%;
    margin-left: 5%;
    width: 45%;
    position: relative;
    z-index: 2;
  }
  .icon {
    width: 6%;
    display: inline-block;
    padding: 1%;
  }
  .contactUsTitle {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
    font-size: 3rem;
    // font-size: calc(4vw);
  }
  // .address {
  //   text-align: center;
  //   font-size: calc(1.5vw);
  // }
  .contactIcons {
    text-align: center;
    // padding-bottom: 15%;
  }
  .triangle {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -90%;
    left: -68%;
    background: $darkGrey;
  }
  .orTitle {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    // font-size: 2vw;
    font-size: 2.5rem;
  }
}
