@use "./variables" as *;
.jobsPage {
  .jobsSectionPadding {
    padding-top: 5px;
    @media (min-width: 992px) {
      padding-bottom: 90px;
    }
  }

  .sectionAboutUs {
    font-size: 16px;
    padding-top: 95px;
    @media (min-width: 992px) {
      font-size: 20px;
      padding-top: 200px;
    }
  }

  .jobHeader {
    text-align: left;
    font-size: 16px;
    width: 100%;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    outline: 0;
    padding: 0;
    cursor: pointer;
    &[aria-expanded="true"] .rotateIcon {
      transform: rotate(180deg);
    }
  }
  .jobHeading {
    font-size: 24px;
    color: $darkGrey;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.2;
    @media (min-width: 992px) {
      font-size: 30px;
    }
  }
  .jobSalary {
    color: $accent;
    margin-bottom: 0.5rem;
    @media (min-width: 992px) {
      font-size: 20px;
    }
  }
  .jobContractType {
    color: $gray-600;
    font-size: 12px;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
  .joinUsLink {
    border-radius: 5px;
    padding: 8px;
    margin-top: 1.5rem;
    display: flex;
    color: $white;
    background: $accent;
    font-weight: bold;
    justify-content: center;
    font-size: 20px;
    border: 2px solid;
    text-transform: uppercase;
    transition: all 0.32s ease;
    &:hover {
      text-decoration: none;
      color: $accent;
      background: $white;
      border-color: $accent;
    }
    @media (min-width: 992px) {
      font-size: 26px;
    }
  }

  .sectionContact {
    background: $darkGrey;
    color: $white;
    font-size: 16px;
    margin-top: 46px;
    .contactInfo {
      color: $accent;
    }
    @media (min-width: 992px) {
      * {
        font-size: 24px;
      }
    }
  }

  .accordion .card {
    border-radius: 5px;
    border: 1px solid $gray-300;
    margin-bottom: 1.5rem;
    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }
  .card-header {
    background-color: transparent;
    padding: 30px 20px;
    cursor: pointer;
    border-bottom: 0;
  }
  .card-body {
    color: $gray-700;
  }
}
