@use "./variables" as *;
@mixin rotatedHeader($top) {
  position: absolute;
  left: 0;
  top: $top;
  transform: translateX(-12%) translateY(-50%) rotate(-90deg);
  text-transform: uppercase;
  color: $white;
  font-size: calc(2.6vw);
  width: 100%;
  font-weight: bold;
}
@mixin pc1300px{
  @media only screen and (max-width: 1300px) {
    @content;
  }
}
@mixin pc1250px{
  @media only screen and (max-width: 1250px) {
    @content;
  }
}
@mixin pc1030px{
  @media only screen and (max-width: 1030px) {
    @content;
  }
}
@mixin pc1000px{
  @media only screen and (max-width: 1000px) {
    @content;
  }
}
@mixin phone730px{
  @media only screen and (max-width: 730px) {
    @content;
  }
}
@mixin phone500px{
  @media only screen and (max-width: 500px) {
    @content;
  }
}