// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin script-font {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, cursive;
}
@mixin body-font {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin heading-font {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin rotatedHeader($top) {
  position: absolute;
  left: 0;
  top: $top;
  transform: translateX(-12%) translateY(-50%) rotate(-90deg);
  text-transform: uppercase;
  color: $white;
  font-size: calc(2.6vw);
  width: 100%;
  font-weight: bold;
}
