@use "./variables" as *;
$sections: (
  sectionSoftwareAudit: url(img/offer/software-audit.svg),
  sectionProjectKickOff: url(img/offer/project-kick-off.svg),
  sectionCustomDevelopment: url(img/offer/custom-development.svg),
  sectionConsultancyPerHour: url(img/offer/consultancy-per-hour.svg),
  sectionTeamExtension: url(img/offer/team-extension.svg),
);

.offerPage {
  .subpageHeader {
    .navbarListItemLink {
      &.offerPage {
        color: #ecc100;
      }
    }
  }

  .offerSectionPadding {
    padding-top: 90px;
  }
  .offerMainHeading {
    font-size: 35px;
    color: $gray-700;
    text-align: center;
  }
  .infoBox {
    background: $accent;
    margin: 30px 0;
    .text {
      padding: 32px 28px;
      font-size: 20px;
      font-weight: 600;
      @media (min-width: 992px) {
        padding: 52px 28px 38px;
        font-size: 24px;
        line-height: 34px;
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .offerImage {
    width: 250px;
    margin: 0 auto 30px auto;
    display: block;
    @media (min-width: 992px) {
      float: right;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 400px;
    }
  }
  @each $section, $image in $sections {
    .#{$section} .offerImage {
      shape-outside: $image;
    }
  }

  .sectionTableOfContent {
    padding: 140px 0 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      ),
      url("/img/bg/these-people.jpg");
    li {
      padding-bottom: 20px;
      font-size: 20px;
    }
    @media (min-width: 992px) {
      padding-top: 200px;
      li {
        font-size: 24px;
      }
    }
  }

  // .sectionContact {
  //   color: $black;
  //   font-size: 20px;
  //   @media (min-width: 992px) {
  //     * {
  //       font-size: 40px;
  //     }
  //     .contactInfo {
  //       line-height: 1.5;
  //     }
  //   }
  // }
}
